doctype html
html
    head
        title Git
        style= css
    body
        #time
            p= timestamp
        #left
            h2 Last Payload
            pre= last_payload

        #right
            h2 Script Output
            pre= script_out