doctype html
html
    head
        title Git
        link(href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css', rel='stylesheet')
        link(href='/main.css', rel='stylesheet')
    body
        header!= header
        #left
            h2 Last Payload
            pre= last_payload

        #right
            h2 Script Output
            pre!= script_out
        script(src='/socket.io/socket.io.js')
        script(src='/main.js')
