@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono);

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Droid Sans', sans-serif;
}

#time {
    width: 100%;
    text-align: center;
    background-color: rgb(110, 110, 110);
    margin: 0;
    padding: 1em;
    border-bottom: 2px solid rgb(50, 50, 50);
    color: white;
}
#time:hover {
    background-color: rgb(120, 120, 120);
}

#left, #right {
    margin: 0;
    width: 50%;
    padding: 10px;
}
#left {
    text-align: left;
    float: left;
    border-right: 2px solid rgb(50, 50, 50);
}
#right {
    text-align: right;
    float: right;
}

pre {
    word-wrap: break-word;
    font-family: 'Droid Sans Mono', monospace;
    font-size: 0.8em;
}
