@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono);

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgb(20, 20, 20);
  font-family: 'Droid Sans', sans-serif;
}

::selection {
  background: rgba(255, 255, 255, 0.6);
}

a {
  color: rgba(255, 255, 255, 0.4);
}

header {
  color: white;
  background-color: rgb(110, 110, 110);
  text-align: center;
  width: 100%;
  margin: 0;
  border-bottom: 2px solid rgb(50, 50, 50);
}
  p {
    margin: 0;
    padding: 1em;
    line-height: 1em;
  }
  img {
    float: left;
    height: 3em;
  }
  button {
    float: right;
    height: 3em;
    color: black;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
  }
  button:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }


.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 25%;
  float: right;
}
  .list li {
    background-color: rgba(255, 255, 255, 0.2);
    border: 3px solid transparent;
    padding: .7em;
    padding-top: .4em;
    cursor: pointer;
  }
    .list li:hover {
      background-color: rgba(255, 255, 255, 0.3);
      border: 3px solid rgba(255, 255, 255, 0.1);
    }
    .list .slug,
    .list .branch {
      font-size: .7em;
      margin-bottom: .3em;
      color: rgba(255, 255, 255, .5);
    }
    .list .slug {
      float: left;
    }
    .list .branch {
      float: right;
    }
    .list .commit {
      display: block;
      clear: both;
    }

pre.log {
  word-wrap: break-word;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 0.8em;
  margin: 0;
  padding: 1em .5em;
}
